*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

.clock, .weather{
    text-align: end;
}

.weather{
    margin-bottom: 10px;
}

p.desc{
    text-align: center;
    font-weight: 500;
    opacity: 0.5;
}

.header{
    padding: 30px;
    text-align: center;
    background: white;
}

.travel-row{
    display: flex;    
    padding: 0 4px;
    flex-wrap: wrap;
}

.travel-row .column{
    padding:0 4px;
    max-width: 25%;
    flex: 25%;
}

.travel-row .column .travel-img{
    margin-top: 8px;
    border-radius: 5px;
}

.header h1{
    font-size: 50px;
}

.topnav{
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
}

.topnav a{
    float: left;
    font-weight: 450;
    text-decoration: none;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
}

.topnav a:hover{
    background-color: #222;
    color: #f2f2f2;
}

.leftcolumn, .midcolumn{
    float: left;
    width: 42.5%;
    padding-right: 20px;
}

.rightcolumn{
    float: left;
    width: 15%;
    background-color: #f1f1f1;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

img{
    width: 100%;
}

.card{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.footer {
    display: block;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .midcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    .travel-row .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {
        width: 100%;
    }
    .travel-row .column{
        flex: 100%;
        max-width: 100%;
    }
}

.icon{
    color: #ddd;
    padding: 5px;
}

.icon .octicon{
    text-decoration: none;
    opacity: 0.8;
}

.icon:hover .octicon{
    transform: scale(1.1) translateY(-10px);
    opacity: 1;
}

.blog{
    width: 96px;
    height: 96px;
    opacity: 0.8;
}

.blog:hover{
    transform: scale(1.1) translateY(-10px);
    opacity: 1;
}